body {
  background-color: whitesmoke;
}

.header {
  text-align: center;
  margin: 25;
  font-size: xx-large;
  font-family: initial;
}

.average {
  text-align: center;
  margin-bottom: 25;
  font-size: large;
  font-family:serif;
}

.available {
  text-align: center;
  font-size: x-large;
  color: white;
}

.freelancer {
  text-align: center;
  list-style-type: none;
}

.div {
  background-color: black;
  color: white;
  padding-bottom: 10px;
}